*{
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
}

.navbar ul{
    background-color: black;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: antiquewhite;
   height: 40px;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: yellow;
}
.contentadd{
 height: 50px;    
display: flex;
align-items: center;
justify-content: center;

}
.contentadd input{
    width: 70%;
    height: 25px;
    background-color: black;
    color: aqua;
    border-radius: 15px;
    margin-left: 17px;
}
.contentadd button{
width: 15%;
margin-left: 15px;
background-color: black;
color: aliceblue;

}
.container{
    background-color: black;
    min-height: 75vh;
    width: 100vw;
    margin: 20px 18px;
    border-radius:25px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
}
.delete-btn {
    background-color: #FF69B4; /* pink background */
    color: #FFFFFF; /* white text */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    height: 25px;
    margin:12px 14px;
  }
  
  .delete-btn:hover {
    background-color: #FFC0CB; /* light pink background on hover */
  }